<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Website Tasking - Golang Mini Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <style>
        .container {
            max-width: 640px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/karyawan/" style="color:white">Website Tasking - Golang Mini Project</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          </div>
        </div>
      </nav>
    <div class="container mt-5">
        <h3>Tambah Data Karyawan</h3>
        <a href="/karyawan/" class="btn btn-sm btn-primary">Lihat Data</a>
        <hr/>
        {{ if .pesan }}
            <div class="alert alert-success">
                {{ .pesan }}
            </div>
        {{ end }}
        <form action="/karyawan/add" method="post">
            <div class="form-group">
                <label for="">Nama Lengkap</label>
                <input type="text" name="nama_lengkap" value="{{ .karyawan.NamaLengkap }}" class="form-control {{ if .validation.NamaLengkap }} is-invalid {{ end }}">
                <div class="invalid-feedback">
                    {{ .validation.NamaLengkap }}
                </div>
            </div>
            <div class="form-group">
                <label for="">Divisi</label>
                <input type="text" name="divisi" value="{{ .karyawan.Divisi }}" class="form-control {{ if .validation.Divisi }} is-invalid {{ end }}">
                <div class="invalid-feedback">
                    {{ .validation.Divisi }}
                </div>
            </div>
            <div class="form-group">
                <label for="">Pekerjaan</label>
                <textarea name="pekerjaan" value="{{ .karyawan.Pekerjaan }}" class="form-control {{ if .validation.Pekerjaan }} is-invalid {{ end }}"></textarea>
                <div class="invalid-feedback">
                    {{ .validation.Pekerjaan }}
                </div>
            </div>
            <div class="form-group">
                <label for="">Deadline</label>
                <input type="date" name="deadline" value="{{ .karyawan.Deadline }}" class="form-control {{ if .validation.Deadline }} is-invalid {{ end }}">
                <div class="invalid-feedback">
                    {{ .validation.Deadline }}
                </div>
            </div>
            <br/>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Simpan</button>
            </div>
        </form>
    </div>
    <div class="card-footer bg-primary text-center fixed-bottom" style="color:white">
        <h5>Created by Kevin Putra P.</h5>
        <a href="https://progate.com/" target="_blank"><img src="/assets/img/logo-digitalent-o-small.png"></a>
        <a href="https://kominfo.go.id" target="_blank"><img src="/assets/img/logo-kominfo-o-small.png"></a>
        <a href="https://digitalent.kominfo.go.id" target="_blank"><img src="/assets/img/logo-progate-small.png"></a>
    </div>
</body>
</html>