<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Website Tasking - Golang Mini Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/karyawan/" style="color:white">Website Tasking - Golang Mini Project</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          </div>
        </div>
      </nav>
    <div class="container mt-5">
        <h3>Data Karyawan</h3>
        <a href="/karyawan/add" class="btn btn-sm btn-primary">Tambah Data</a>
        <hr/>
        <table class="table table-primary table-sriped table-hover">
            <thead>
                <tr>
                    <th>Nama Lengkap Karyawan</th>
                    <th>Divisi</th>
                    <th>Pekerjaan</th>
                    <th>Deadline</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {{ range .karyawan }}
                    <tr>
                        <td>{{ .NamaLengkap }}</td>
                        <td>{{ .Divisi }}</td>
                        <td>{{ .Pekerjaan }}</td>
                        <td>{{ .Deadline }}</td>
                        <td>
                            <a href="/karyawan/edit?id={{.Id}}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="/karyawan/delete?id={{.Id}}" onclick="return confirm('Apakah anda yakin ingin menghapus data?')" class="btn btn-sm btn-danger">Hapus</a>
                        </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
    <div class="card-footer bg-primary text-center fixed-bottom" style="color:white">
        <h5>Created by Kevin Putra P.</h5>
        <a href="https://progate.com/" target="_blank"><img src="/assets/img/logo-digitalent-o-small.png"></a>
        <a href="https://kominfo.go.id" target="_blank"><img src="/assets/img/logo-kominfo-o-small.png"></a>
        <a href="https://digitalent.kominfo.go.id" target="_blank"><img src="/assets/img/logo-progate-small.png"></a>
    </div>
</body>

</html>