<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Website Tasking - Golang Mini Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h3>Data Karyawan</h3>
        <a href="/karyawan/add" class="btn btn-sm btn-primary">Tambah Data</a>
        <hr/>
        <table class="table table-primary table-sriped table-hover">
            <thead>
                <tr>
                    <th>Nama Lengkap Karyawan</th>
                    <th>Divisi</th>
                    <th>Pekerjaan</th>
                    <th>Deadline</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {{ range .karyawan }}
                    <tr>
                        <td>{{ .NamaLengkap }}</td>
                        <td>{{ .Divisi }}</td>
                        <td>{{ .Pekerjaan }}</td>
                        <td>{{ .Deadline }}</td>
                        <td>
                            <a href="/karyawan/edit?id={{.Id}}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="/karyawan/delete?id={{.Id}}" onclick="return confirm('Apakah anda yakin ingin menghapus data?')" class="btn btn-sm btn-danger">Hapus</a>
                        </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</body>

</html>